<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bubbl.ai{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>{% block header %}Welcome to Bubbl.ai{% endblock %}</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            
        </footer>
    </div>
</body>
</html>

<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
        <li><a href="{{ url_for('about') }}">About Bubbl.ai</a></li> <!-- Link to the About page -->
        <li><p>&copy; 2024 Bubbl.ai</p></li>
    </ul>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
