{% extends "base.html" %}

{% block header %}Bubbl.ai{% endblock %}

{% block content %}
<div class="button-group">
    <a href="{{ url_for('feed') }}">
        <button>🔍 Feed</button>
    </a>
    <a href="{{ url_for('users') }}">
        <button>👤 Users</button>
    </a>
    <!-- Show the Developer Mode link only if the logged-in user is the admin -->
    {% if session['user'] == ADMIN_USERNAME %}
    <a href="{{ url_for('admin') }}">
        <button>👑 Admin Page</button>   
    </a> 
    {% endif %}
</div>

<footer>
    <p><a href="{{ url_for('logout') }}">🚪 Log out</a></p>
</footer>
{% endblock %}
